.add-transaction-button {
    margin-top: 1.5rem!important;
}

@media (max-width: 1545px) {
    .add-transaction h4 {
        font-size: 1.3rem;
    }

    .add-transaction-button {
        height: 1.5rem;
        margin-top: 0!important;
    }
}